@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply p-0 m-0;
}

body {
  @apply bg-gray-100;
}

.body-container {
  min-height: 70vh;
}

nav {
  @apply bg-white relative;
}

#menu svg {
  @apply h-6 w-6;
}

#menu .close {
  @apply hidden;
}

#menu .open {
  @apply block;
}

#mobile-contents.active, #menu.active .close {
  @apply block !important;
}

#menu.active .open {
  @apply hidden !important;
}

.user-profile {
  @apply h-8 w-8 rounded-full flex justify-center items-center bg-blue-600 text-white;
}

.user-profile::before {
  content: "2";
  @apply absolute h-4 w-4 rounded-full flex justify-center items-center bg-red-600 border-2 border-white border-solid top-0 text-xs;
  right: -0.5rem;
}

footer {
  @apply bg-white relative pt-1 pb-4 ;
}

.company-container {
  @apply flex flex-col w-full text-left bg-white p-8 mb-8;
}

.filters-container {
  width: 250px;
  margin-right: 20px;
  @apply hidden;
}


.search-bar {
  @apply relative text-gray-600 w-auto flex items-center border-2 border-gray-300 bg-white;
  margin: 0 2px;
}

.search-bar svg {
  @apply pl-2;
}
.search-input {
  @apply w-full;
  @apply h-8 px-5 pr-16 rounded-lg text-sm pl-2;
}



i.arrow {
  height: 20px;
  width: 1px;
  @apply inline-block;
}

.arrow.left, .arrow.right {
  @apply border-0 border-l border-solid border-black;
}
.arrow.left {
  content: "V";
  transform: rotate(-45deg);
}

.arrow.right {
  transform: rotate(45deg) translate(6px, -6px);
}

.job-container {
  @apply flex;
  margin: 0 2px;
}

.company {
  @apply bg-white w-full;
}

.accordion {
 @apply flex flex-row mt-2 border-b py-4;
}

.accordion ~ .panel {
  @apply hidden;
}

.accordion.active ~ .panel {
  @apply block;
}

@screen md {
  #mobile-contents.active {
    @apply hidden !important;
  }
  .filters-container {
    @apply block;
  }
  .search-bar {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
