@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply p-0 m-0;
}

body {
  @apply bg-gray-100;
}

.body-container {
  min-height: 70vh;
}

nav {
  @apply bg-white relative;
}

#menu svg {
  @apply h-6 w-6;
}

#menu .close {
  @apply hidden;
}

#menu .open {
  @apply block;
}

#mobile-contents.active, #menu.active .close {
  @apply block !important;
}

#menu.active .open {
  @apply hidden !important;
}

.user-profile {
  @apply h-8 w-8 rounded-full flex justify-center items-center bg-blue-600 text-white;
}

.user-profile::before {
  content: "2";
  @apply absolute h-4 w-4 rounded-full flex justify-center items-center bg-red-600 border-2 border-white border-solid top-0 text-xs;
  right: -0.5rem;
}

footer {
  @apply bg-white relative pt-1 pb-4 ;
}

.company-container {
  @apply flex flex-col w-full text-left bg-white p-8;
}

.filters-container {
  width: 250px;
  margin: 0 20px;
  @apply hidden;
}

@screen md {
  #mobile-contents.active {
    @apply hidden !important;
  }
  .filters-container {
     @apply block;
  }
}
